*{
    margin: 0px;
    padding: 0px;
    border: none;
    text-decoration: none;
}
body{
    background-color
}
.header{
    background-color: #0C0C0E;
    background-size: 100%;
    height: 90px;
    display :flex;
    justify-content: center;
    align-items: center;
}

a:hover{
    text-decoration: underline;
}

.container{
    width: 1400px;
    margin: 0 20px;
}
.StartWindow{
    display :flex;
    align-items: center; 
    justify-content: space-between;
}
.h11{
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Forum";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
}



li{
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 250% */
    list-style-type: none;
    display: inline-block;
    list-style-type: none;
    margin: 0 12px;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.welcome{
    display: flex;
    height: 600px;
    background:linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%), url(images/pupa2.jpg);
    background-size: 100%;
    background-position: center center;
}

.WelcomeText{
    text-align: center;
    font-size: 40px;
    letter-spacing: 3px;
    line-height: 50px;
    color: white;
    width: 520px;
    height: 150px;
    text-transform: uppercase;
}

.WelcomeBlock{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(11, 11, 11);
    width: 520px;
    height: 150px;
    padding: 35px 40px;
    margin-top: 220px;
}

.containerAbout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.About{
    display: flex;
    justify-content: center;
    height: 837px;
    
}

.aboutText h2{
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 2px;
}

.aboutText p{
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    margin-top: 25px;
}

.aboutText hr{
    margin-top: 20px;
    margin-left: 365px;
    background-color: black;
    width: 50px;
    height: 1px;
}

.carusel{
    margin-top: 20px;
    
}

.carusel img{
    margin: 0 7px;
}

.button1{
    width: 16px;
    height: 16px;
    background-color: rgba(187, 148, 95, 1);
    border-radius: 50%;
}

.button2{
    width: 16px;
    height: 16px;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 50%;
}

.button3{
    width: 16px;
    height: 16px;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 50%;
}

.caruselPaginations{
    margin-top: 40px;
    margin-left: 677px;
}

/* button:hover{
    background-color: rgba(187, 148, 95, 1);
} */

.Favorites{
    display: flex;
    justify-content: center;
    height: 1439px;
}

.containerFavorites{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.favoritesText hr{
    margin-top: 20px;
    margin-left: 60px;
    background-color: black;
    width: 50px;
    height: 1px;
}

.favoritesText h2{
color: #0C0C0E;
font-family: Forum;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 100% */
letter-spacing: 2px;
text-transform: capitalize;
}

.radio p{
margin-bottom: 40px;
color: #000;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 50px;
}


.radio{
    margin-right: 960px;
}

.radio label{
margin: 0 10px;
color: #000;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}



.cards{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card1 h3{
color: #000;
font-family: Forum;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 200% */
letter-spacing: 2px;
text-transform: capitalize;
margin-left: 20px;
}

.one{
color: #000;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 266.667% */
letter-spacing: 2px;
text-transform: uppercase;
margin-left: 20px;
}

em{
color: #000;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 40px;
letter-spacing: 2px;
text-transform: capitalize;
}

.two{
color: #000;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 266.667% */
letter-spacing: 2px;
text-transform: capitalize;
margin-left: 20px;
}

.card1{
display: flex;
flex-direction: column;
width: 500px;
height: 487px;
flex-shrink: 0;
border: 1px solid #000;
background: #FFF;
margin-top: 40px;
}

.card1 button{
border-radius: 2px;
border: 1px solid #0C0C0E;
width: 75px;
height: 30px;
flex-shrink: 0;
margin-left: 20px;
}

.card1 img{
width: 200px;
height: 300px;
flex-shrink: 0;
margin-top: -282px;
z-index: 2;
margin-left: 340px;
}

.card2 h3{
    color: #000;
    margin-left: 20px;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.card2{
width: 200px;
height: 300px;
display: flex;
flex-direction: column;
width: 500px;
height: 487px;
flex-shrink: 0;
border: 1px solid #000;
background: #FFF;
margin-top: 40px;
}
    
.card2 button{
border-radius: 2px;
border: 1px solid #0C0C0E;
width: 75px;
height: 30px;
flex-shrink: 0;
margin-left: 20px;
margin-top: 40px;
}
    
.card2 img{
width: 200px;
height: 300px;
flex-shrink: 0;
margin-top: -282px;
z-index: 2;
margin-left: 340px;
}

.card3 h3{
margin-left: 20px;
color: #000;
font-family: Forum;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 200% */
letter-spacing: 2px;
text-transform: capitalize;
}

.card3{
width: 200px;
height: 300px;
display: flex;
flex-direction: column;
width: 500px;
height: 487px;
flex-shrink: 0;
border: 1px solid #000;
background: #FFF;
margin-top: 40px;
}
    
.card3 button{
border-radius: 2px;
border: 1px solid #0C0C0E;
width: 75px;
height: 30px;
flex-shrink: 0;
margin-left: 20px;
margin-top: 2px;
}
    
.card3 img{
width: 200px;
height: 300px;
flex-shrink: 0;
margin-top: -284px;
margin-left: 340px;
}

.card4 h3{
margin-left: 20px;
color: #000;
font-family: Forum;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 200% */
letter-spacing: 2px;
text-transform: capitalize;
}
    
.card4{
width: 200px;
height: 300px;
display: flex;
flex-direction: column;
width: 500px;
height: 487px;
flex-shrink: 0;
border: 1px solid #000;
background: #FFF;
margin-top: 40px;
}
        
.card4 button{
width: 75px;
height: 30px;
flex-shrink: 0;
border-radius: 2px;
border: 1px solid #BB945F;
color: #BB945F;
margin-left: 20px;
margin-top: 78px;
}
        
.card4 img{
width: 200px;
height: 300px;
flex-shrink: 0;
margin-top: -280px;
margin-left: 340px;
}

.card1 hr{
    width: 60px;
height: 1px;
background: #BB945F;
margin-left: 100px;
}
