*{
    margin: 0px;
    padding: 0px;
    border: none;
    text-decoration: none;
}
body{
}
.header{
    background-color: #0C0C0E;
    background-size: 100%;
    height: 90px;
    display :flex;
    justify-content: center;
    align-items: center;
}

a:hover{
    text-decoration: underline;
}

.container{
    width: 1400px;
    margin: 0 20px;
}
.StartWindow{
    display :flex;
    align-items: center; 
    justify-content: space-between;
}
.h11{
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Forum";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
}



li{
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 250% */
    list-style-type: none;
    display: inline-block;
    list-style-type: none;
    margin: 0 12px;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.welcome{
    display: flex;
    height: 600px;
    background:linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%), url(images/pupa2.jpg);
    background-size: 100%;
    background-position: center center;
}

.WelcomeText{
    text-align: center;
    font-size: 40px;
    letter-spacing: 3px;
    line-height: 50px;
    color: white;
    width: 520px;
    height: 150px;
    text-transform: uppercase;
}

.WelcomeBlock{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(11, 11, 11);
    width: 520px;
    height: 150px;
    padding: 35px 40px;
    margin-top: 220px;
}

.containerAbout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.About{
    display: flex;
    justify-content: center;
    height: 837px;
    
}

.aboutText h2{
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 2px;
}

.aboutText p{
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    margin-top: 25px;
}

.aboutText hr{
    margin-top: 20px;
    margin-left: 365px;
    background-color: black;
    width: 50px;
    height: 1px;
}

.carusel{
    margin-top: 20px;
    
}

.carusel img{
    margin: 0 7px;
}

.button1{
    width: 16px;
    height: 16px;
    background-color: rgba(187, 148, 95, 1);
    border-radius: 50%;
}

.button2{
    width: 16px;
    height: 16px;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 50%;
}

.button3{
    width: 16px;
    height: 16px;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 50%;
}

.caruselPaginations{
    margin-top: 40px;
    margin-left: 677px;
}

/* button:hover{
    background-color: rgba(187, 148, 95, 1);
} */

.Favorites{
    display: flex;
    justify-content: center;
    height: 1439px;
}

.containerFavorites{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.favoritesText hr{
    margin-top: 20px;
    margin-left: 60px;
    background-color: black;
    width: 50px;
    height: 1px;
}

.favoritesText h2{
color: #0C0C0E;
font-family: Forum;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 100% */
letter-spacing: 2px;
text-transform: capitalize;
}

.radio p{
margin-bottom: 40px;
color: #000;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 50px;
}


.radio{
    margin-right: 960px;
}

.radio label{
margin: 0 10px;
color: #000;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}



.cards{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card1 h3{
color: #000;
font-family: Forum;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 200% */
letter-spacing: 2px;
text-transform: capitalize;
margin-left: 20px;
}

.one{
color: #000;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 266.667% */
letter-spacing: 2px;
text-transform: uppercase;
margin-left: 20px;
}

em{
color: #000;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 40px;
letter-spacing: 2px;
text-transform: capitalize;
}

.two{
color: #000;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 266.667% */
letter-spacing: 2px;
text-transform: capitalize;
margin-left: 20px;
}

.card1{
display: flex;
flex-direction: column;
width: 500px;
height: 487px;
flex-shrink: 0;
border: 1px solid #000;
background: #FFF;
margin-top: 40px;
}

.card1 button{
border-radius: 2px;
border: 1px solid #0C0C0E;
width: 75px;
height: 30px;
flex-shrink: 0;
margin-left: 20px;
}

.card1 img{
width: 200px;
height: 300px;
flex-shrink: 0;
margin-top: -282px;
z-index: 2;
margin-left: 340px;
}

.card2 h3{
    color: #000;
    margin-left: 20px;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.card2{
width: 200px;
height: 300px;
display: flex;
flex-direction: column;
width: 500px;
height: 487px;
flex-shrink: 0;
border: 1px solid #000;
background: #FFF;
margin-top: 40px;
}
    
.card2 button{
border-radius: 2px;
border: 1px solid #0C0C0E;
width: 75px;
height: 30px;
flex-shrink: 0;
margin-left: 20px;
margin-top: 40px;
}
    
.card2 img{
width: 200px;
height: 300px;
flex-shrink: 0;
margin-top: -282px;
z-index: 2;
margin-left: 340px;
}

.card3 h3{
margin-left: 20px;
color: #000;
font-family: Forum;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 200% */
letter-spacing: 2px;
text-transform: capitalize;
}

.card3{
width: 200px;
height: 300px;
display: flex;
flex-direction: column;
width: 500px;
height: 487px;
flex-shrink: 0;
border: 1px solid #000;
background: #FFF;
margin-top: 40px;
}
    
.card3 button{
border-radius: 2px;
border: 1px solid #0C0C0E;
width: 75px;
height: 30px;
flex-shrink: 0;
margin-left: 20px;
margin-top: 2px;
}
    
.card3 img{
width: 200px;
height: 300px;
flex-shrink: 0;
margin-top: -284px;
margin-left: 340px;
}

.card4 h3{
margin-left: 20px;
color: #000;
font-family: Forum;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 200% */
letter-spacing: 2px;
text-transform: capitalize;
}
    
.card4{
width: 200px;
height: 300px;
display: flex;
flex-direction: column;
width: 500px;
height: 487px;
flex-shrink: 0;
border: 1px solid #000;
background: #FFF;
margin-top: 40px;
}
        
.card4 button{
width: 75px;
height: 30px;
flex-shrink: 0;
border-radius: 2px;
border: 1px solid #BB945F;
color: #BB945F;
margin-left: 20px;
margin-top: 78px;
}
        
.card4 img{
width: 200px;
height: 300px;
flex-shrink: 0;
margin-top: -280px;
margin-left: 340px;
}

.coffetext h2{
    color: #0C0C0E;
   
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;   
}

.coffeeblock{
    height: 781px;
    width: 1440px;
}

.coffetext{
display: flex;
flex-direction: column;
align-items: center;
width: 1440px;

}

.tire{
margin-top: 20px;
background: black;
width: 50px;
height: 1px;
}

.coffetext p{
    margin-top: 40px;
    color: #000;

text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 200% */
letter-spacing: 2px;
text-transform: capitalize;
}

.coffeetea h3{
    margin-left: 35px;
    color: #BB945F;

font-family: Forum;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 100% */
letter-spacing: 2px;
text-transform: capitalize;
}

.menu{
    align-items: center;
    display: flex;
    gap: 60px;
}



.def{
    margin-top: 40px;
    width: 80px;
    height: 1px;
    background: #BB945F;
}

.coffeemenu pre{
    margin-left: 35px;
    width: 200px;
    margin-top: 40px;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.coffeemenu p{
    margin-top: 40px;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.coffeemenu{
    display: flex;
    justify-content: space-between;
}

.coffeetea{
    display: flex;
    flex-direction: column;
}

.coffeetea2 h3{
    display: flex;
    justify-content: end;
    margin-left: 35px;
    color: #BB945F;

font-family: Forum;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 100% */
letter-spacing: 2px;
text-transform: capitalize;
}

.coffeetea2{
    display: flex;
    flex-direction: column;
    
}

.contact h2{
    margin-left: 60px;
color: #0C0C0E;
font-family: Forum;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 100% */
letter-spacing: 2px;
text-transform: capitalize;
}

.tiree{
    margin-left: 75px;
background: black;
margin-top: 20px;
width: 50px;
height: 1px;
}

.contactstart{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pp{
margin-top: 40px;
color: #000;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 200% */
letter-spacing: 2px;
text-transform: capitalize;
margin-left: 25px;
}

.ppp{
padding-top: 25px;
margin-left: 25px;
color: #000;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 200% */
letter-spacing: 2px;
text-transform: capitalize;
}

.contact{
    height: 515px;
}

.contactflex{
    width: 1440px;
    display: flex;
    justify-content: space-between;
}

.contactmap{
    margin-left: 40px;
    margin-top: 40px;
}

.p{
padding-top: 5px;
margin-left: 25px;
color: #000;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 200% */
letter-spacing: 2px;
text-transform: capitalize;
}

.pppp{
margin-top: 40px;
color: #000;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 200% */
letter-spacing: 2px;
text-transform: capitalize;
margin-left: 25px;
}

.librarytext{
margin-top: 15px;
display: flex;
flex-direction: column;
align-items: center;
}

.librarytext h2{
padding-left: 100px;
color: #0C0C0E;
text-align: center;
font-family: Forum;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 100% */
letter-spacing: 2px;
text-transform: capitalize;
}

.tire{
margin-left: 90px;
width: 50px;
height: 1px;
flex-shrink: 0;
background-color: black;
}

.library{
    height: 515px;
}

.pf{
padding-top: 40px;
padding-right: 48px;
margin-left: 158px;
padding-bottom: 30px;
color: #000;
font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.6px;
}

.form{
margin-left: 25px;
width: 600px;
height: 386px;
border: 3px solid #BB945F;
background: #FFF;
}

form{

display: flex;
flex-direction: column;
width: 560px;
height: 260px;
background: #BB945F;
margin: 20px;
}

.form label{
padding: 20px;
color: #000;
font-family: Forum;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 50px; /* 166.667% */
letter-spacing: 0.6px;
}

.form input{
margin-left: 20px;
margin-bottom: 25px;
border-radius: 10px;
width: 500px;
height: 66px;
}

.lib{
    padding-left: 20px;
color: #8E8E8E;
font-family: Forum;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 50px; /* 166.667% */
letter-spacing: 0.6px;
}

.form button{
margin-left: 179px;
margin-top: 5px;
height: 44px;
width: 242px;
border-radius: 2px;
border: 1px solid #0C0C0E;
color: #0C0C0E;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1px;
}

.reader{
    text-align: right;
    height: 235px;
}

.readera{
    text-align: right;
margin-top: 40px;
margin-left: 730px;
color: #000;
font-family: Forum;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.6px;
}

.readerb{
padding-bottom: 35px;
color: #000;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 200% */
letter-spacing: 0.4px;
}

.buttons button{
height: 30px;
width: 75px;
color: #0C0C0E;
text-align: center;
font-family: Inter;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1px;
width: 75px;
border-radius: 2px;
border: 1px solid #0C0C0E;
        
}

.buttons{
    gap: 20px;
    justify-content: right;
    display: flex;
}

.formflex{
    width: 1440px;
    display: flex;
    justify-content: space-between;
}

.librarytext{
    display: flex;
    
}

.readtwo{
    width: 1440px;
    display: flex;
}

.textaa{
margin-left: 42px;
padding-top: 20px;
width: 229px;
flex-shrink: 0;
color: #FFF;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 20px;
}

footer{
    margin-top: 80px;
    background: black;
    height: 250px;
}

.textb{
    margin-left: 42px;
    margin-top: 18px;
    row-gap: 15px;
}

.foottire{
margin-top: 38px;
margin-left: 35px;
background-color: white;
width: 1440px;
height: 1px;
}

.footerflex{
display: flex;
justify-content: space-between;
}

.foootertwo{
color: #FFF;
text-align: right;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 20px;
smargin-top: 20px;
margin-right: 60px;
}

.fone{
    padding-bottom: 5px;
    text-align: right;
    width: 149px;
}

.ftwo{
    padding-top: 5px;
    text-align: right;
    width: 149px;
}

.rsc p{
padding-left: 42px;
padding-right: 60px;
color: white;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 100% */
letter-spacing: 2px;
}

.rsc{
    padding: 44px 0;
    display: flex;
    justify-content: space-between;
}